@font-face {
    font-family: supermagic;
    src: url(Super\ Magic.ttf);
}

@font-face {
    font-family: classicdiary;
    src: url(ClassicalDiary.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url(img/mushroom.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    border-bottom:2px solid #ffffff;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: "supermagic";
    font-size: 60px;
    margin: 10px;
}
h1:active {
    color: green;
}

nav{
    text-align: center;
    padding:10px;
    margin: 10px;
}

nav li {
    list-style-type: none;
    display: inline;
    padding:10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color:darkgreen;
    text-decoration: underline;
}

.box{
    background-color:antiquewhite;
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    opacity: 80%;
    
}

.box h2 {
    text-align: center;
    font-size: 2rem;
    margin: 10px;
    font-family: "supermagic";

}

.box p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 120%;
    margin-bottom: 20px;
    font-family: "classicdiary", Arial, Helvetica, sans-serif;
    
}

.box img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.box figcaption{
    text-align: center;
    margin: 10px;
}